.social {;

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__item {

    &:not(:last-child) {
      margin-bottom: 0.25em;
    }
  }

  &__link {
    color: $text-color;
    letter-spacing: 0.05em;

    @media (max-width: ($screen-md - 1)) {
      font-size: 1.25em;
      font-weight: 500;
    }
  }
}