.modal {
  padding: 0;
  border: 0;
  background-color: $bg-color--light;
  padding-top: 3em;
  background-color: transparent;
  top: 0;
  border: 0;
  box-shadow: none;
  text-align: center;

  &.active {
    top: 0;
  }

  img {
    vertical-align: top;

    &:not(:first-child) {
      margin-top: 1em;
    }
  }

  &__close {
    margin-bottom: 1em;
    display: block;
    color: $text-color--light;
    letter-spacing: 0.075em;
  }
}