<section class="promo">

  <h1 class="main-title">Yana<br> Chepurnykh</h1>

  <div class="promo__content">
    <div class="promo__list-of-links">

      <div class="social">
        <ul class="social__list">
          <li class="social__item">
            <a href="tg://resolve?domain=felelitlen" class="social__link" target="_blank" rel="noopener">Telegram</a>
          </li>
          <li class="social__item">
            <a href="https://www.facebook.com/yana.lyamasova" class="social__link" target="_blank" rel="noopener">Facebook</a>
          </li>
          <li class="social__item">
            <a href="https://vk.com/felelitlen" class="social__link" target="_blank" rel="noopener">Vkontakte</a>
          </li>
          <li class="social__item">
            <a href="https://twitter.com/felelitlen" class="social__link" target="_blank" rel="noopener">Twitter</a>
          </li>
          <li class="social__item">
            <a href="http://lyamasova.tumblr.com/" class="social__link" target="_blank" rel="noopener">Tumblr</a>
          </li>
          <li class="social__item">
            <a href="https://www.instagram.com/felelitlen/" class="social__link" target="_blank" rel="noopener">Instagram</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="promo__link-to-portfolio">
      <a href="works.html">
        Projects
      </a>
    </div>
  </div>
</section>