.promo {
  background-color: $bg-color--light;
  width: 100%;
  min-height: 100vh;
  padding: 2em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;

  @media (min-width: $screen-sm) {
    padding: 5em;
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;

    @media (min-width: $screen-xs) {
      flex-direction: row;
    }
  }

  &__list-of-links {
    margin-bottom: 2rem;
  }

  &__link-to-portfolio {

    a {
      font-family: $font-family--heading;
      font-size: 2em;
      color: currentColor;
    }
  }
}