.project {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30em;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  h3 {
    position: absolute;
    text-align: center;
    margin: 0;
    font-size: 3em;
    color: red;
    mix-blend-mode: multiply;
  }
}