<div class="portfolio">

  <a href="index.html" class="portfolio__link-to-main-page">
    <span>Go Back</span>
  </a>

  <h1 class="">Projects</h1>

  <div class="container">

    <div class="portfolio__item"
         style="min-height: 325px"
         data-packed="data-packed"
         data-modal="#portfolio--tooba">
      <p class="portfolio__subtitle" data-modal="#">Design for <span>Tooba</span></p>
    </div>

    <div class="portfolio__item"
         style="min-height: 275px"
         data-packed="data-packed"
         data-modal="#portfolio--call-numbers">
      <p class="portfolio__subtitle" data-modal="#">Design for <span>8 800</span></p>
    </div>

    <div class="portfolio__item"
         style="min-height: 225px"
         data-packed="data-packed"
         data-modal="#portfolio--it-company">
      <p class="portfolio__subtitle" data-modal="#">Design for <span>IT Company</span></p>
    </div>

    <div class="portfolio__item"
         style="min-height: 250px"
         data-packed="data-packed"
         data-modal="#portfolio--slack">
      <p class="portfolio__subtitle" data-modal="#">Design for <span>Slack Conference</span></p>
    </div>

    <div class="portfolio__item"
         style="min-height: 200px"
         data-packed="data-packed"
         data-modal="#portfolio--sphere">
      <p class="portfolio__subtitle" data-modal="#">Design for <span>Consalting company</span></p>
    </div>

    <div class="portfolio__item"
         style="min-height: 225px"
         data-packed="data-packed">
      <p class="portfolio__subtitle  portfolio__subtitle--link-to-template" data-modal="#portfolio--springbay">Design for <span>Springbay</span> web agency</p>
      <a href="https://fineobscure.com/works/springbay/" class="portfolio__link" target="_blank" rel="noopener">Link</a>
    </div>

    <div class="portfolio__item"
         style="min-height: 250px"
         data-modal="#portfolio--monument-valley"
         data-packed="data-packed">
      <p class="portfolio__subtitle">Graduate Work inspired by the beautiful <span>Monument Valley</span></p>
    </div>

    <div class="portfolio__item"
         style="min-height: 175px"
         data-modal="#portfolio--wedding"
         data-packed="data-packed">
      <p class="portfolio__subtitle">Participation in the tender.<br> <span>Design for Wedding Organizer</span></p>
    </div>

    <div class="portfolio__item"
         style="min-height: 300px"
         data-modal="#portfolio--room-zone"
         data-packed="data-packed">
      <p class="portfolio__subtitle">Participation in the tender.<br> Logo for <span>Interior Studio</span></p>
    </div>

    <div class="portfolio__item"
         style="min-height: 250px"
         data-modal="#portfolio--photographer"
         data-packed="data-packed">
      <p class="portfolio__subtitle">Design for <span>Photographer</span> website</p>
    </div>

    <div class="portfolio__item"
         data-modal="#portfolio--typograpy-tolstoi"
         data-packed="data-packed">
      <p class="portfolio__subtitle">Work with Typography. <span>Tolstoi.</span></p>
    </div>

    <div class="portfolio__item"
         style="min-height: 275px"
         data-modal="#portfolio--typograpy"
         data-packed="data-packed">
      <p class="portfolio__subtitle">Participation in the tender.<br> Design for <span>Typography Company</span></p>
    </div>

    <div class="portfolio__item"
         data-modal="#portfolio--geo"
         data-packed="data-packed">
      <p class="portfolio__subtitle">Design for <span>Geo Investigate</span> website</p>
    </div>

    <div class="portfolio__item"
         style="min-height: 275px"
         data-modal="#portfolio--original-projects"
         data-packed="data-packed">
      <p class="portfolio__subtitle">Design For <span>Original Projects</span></p>
    </div>
  </div>

  <div id="portfolio--tooba" class="modal"
       data-modal-window="data-modal-window">
    <a href="#" class="modal__close close"
       data-modal-close="data-modal-close" >Close</a>
    <img src="images/tooba--main.jpg" alt="">
    <img src="images/tooba--app.jpg" alt="">
  </div>

  <div id="portfolio--call-numbers" class="modal"
       data-modal-window="data-modal-window">
    <a href="#" class="modal__close close"
       data-modal-close="data-modal-close" >Close</a>
    <img src="images/call-numbers--main.png" alt="">
    <img src="images/call-numbers--additional.png" alt="">
  </div>

  <div id="portfolio--it-company" class="modal"
       data-modal-window="data-modal-window">
    <a href="#" class="modal__close close"
       data-modal-close="data-modal-close" >Close</a>
    <img src="images/it-company.jpg" alt="">
  </div>

  <div id="portfolio--slack" class="modal"
       data-modal-window="data-modal-window">
    <a href="#" class="modal__close close"
       data-modal-close="data-modal-close" >Close</a>
    <img src="images/slack--first.png" alt="">
    <img src="images/slack--second.png" alt="">
  </div>

  <div id="portfolio--sphere" class="modal"
       data-modal-window="data-modal-window">
    <a href="#" class="modal__close close"
       data-modal-close="data-modal-close" >Close</a>
    <img src="images/sphere.png" alt="">
  </div>

  <div id="portfolio--springbay" class="modal"
       data-modal-window="data-modal-window">
    <a href="#" class="modal__close close"
       data-modal-close="data-modal-close">Close</a>
    <img src="images/springbay--desktop.png" alt="">
    <img src="images/springbay--mobile.png" alt="">
  </div>

  <div id="portfolio--monument-valley" class="modal"
       data-modal-window="data-modal-window">
    <a href="#" class="modal__close close"
       data-modal-close="data-modal-close">Close</a>
    <img src="images/monument-valley.png" alt="">
  </div>

  <div id="portfolio--wedding" class="modal"
       data-modal-window="data-modal-window">
    <a href="#" class="modal__close close"
       data-modal-close="data-modal-close">Close</a>
    <img src="images/wedding--first.jpg" alt="">
    <img src="images/wedding--third.png" alt="">
    <img src="images/wedding--second.jpg" alt="">
  </div>

  <div id="portfolio--monument-valley" class="modal"
       data-modal-window="data-modal-window">
    <a href="#" class="modal__close close"
       data-modal-close="data-modal-close">Close</a>
    <img src="images/monument-valley.png" alt="">
  </div>

  <div id="portfolio--room-zone" class="modal"
       data-modal-window="data-modal-window">
    <a href="#" class="modal__close close"
       data-modal-close="data-modal-close" >Close</a>
    <img src="images/room-zone--first.png" alt="">
    <img src="images/room-zone--second.png" alt="">
  </div>

  <div id="portfolio--photographer" class="modal"
       data-modal-window="data-modal-window">
    <a href="#" class="modal__close close"
       data-modal-close="data-modal-close" >Close</a>
    <img src="images/photographer.png" alt="">
  </div>

  <div id="portfolio--typograpy-tolstoi" class="modal"
       data-modal-window="data-modal-window">
    <a href="#" class="modal__close close"
       data-modal-close="data-modal-close" >Close</a>
    <img src="images/typograpy--tolstoi.jpg" alt="">
  </div>

  <div id="portfolio--typograpy" class="modal"
       data-modal-window="data-modal-window">
    <a href="#" class="modal__close close"
       data-modal-close="data-modal-close" >Close</a>
    <img src="images/typography.png" alt="">
  </div>

  <div id="portfolio--geo" class="modal"
       data-modal-window="data-modal-window">
    <a href="#" class="modal__close close"
       data-modal-close="data-modal-close" >Close</a>
    <img src="images/geo.jpg" alt="">
  </div>

  <div id="portfolio--original-projects" class="modal"
       data-modal-window="data-modal-window">
    <a href="#" class="modal__close close"
       data-modal-close="data-modal-close" >Close</a>
    <img src="images/original-projects--desktop.png" alt="">
    <img src="images/original-projects--mobile.png" alt="">
  </div>

</div>