.portfolio {
  background-color: $bg-color--light;
  width: 100%;
  min-height: 100vh;
  padding: 2em;

  @media (min-width: $screen-sm) {
    padding: 5em;
  }

  &__item {
    box-shadow: 1px 1px $text-color, 1px 1px $text-color inset;
    background-color: $bg-color--light;
    min-width: 130px;
    max-width: 130px;
    min-height: 200px;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    padding: 1em;
    transition: all 0.1s ease-in-out 0s;

    @media (min-width: $screen-xs) {
      min-width: 150px;
      max-width: 150px;
    }

    @media (min-width: $screen-sm) {
      min-width: 175px;
      max-width: 175px;
    }

    @media (min-width: $screen-md) {
      min-width: 200px;
      max-width: 200px;
    }

    &:hover {
      background-color: $text-color;
      color: $text-color--light;

      .portfolio__link {
        color: $text-color--light;
      }
    }
  }

  &__subtitle {
    line-height: 1.35em;

    &--link-to-template {

      &:hover {
        text-decoration: underline;
      }
    }

    span {
      font-weight: 600;
    }
  }

  &__link {
    z-index: 9999;
    display: inline-block;
    margin-top: 2em;
    font-weight: 600;
    color: currentColor;
    transition: all 0.1s ease-in-out 0s;
    text-transform: uppercase;
    font-size: $font-size--small;
    letter-spacing: 0.075em;

    &:hover {
      text-decoration: underline;
    }
  }

  &__link-to-main-page {
    display: inline-block;
    color: currentColor;
    text-transform: lowercase;
    letter-spacing: 0.025em;
    position: relative;

    span {
      display: inline-block;
      padding-left: 6em;
      transform: translateY(-1px);
    }

    &::before {
      content: '';
      background-color: currentColor;
      width: 4em;
      height: 1px;
      position: absolute;
      top: 50%;
      left: 1em;
      transform: translateY(-50%);
      transform-origin: 0% 50%;
      transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }

    &::after {
      content: '';
      border-top: 1px solid currentColor;
      border-right: 1px solid currentColor;
      width: 1.25vh;
      height: 1.25vh;
      transform: translateX(0) translateY(-50%) rotate(-135deg);
      position: absolute;
      top: 50%;
      left: 0;
      transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }
  }
}