.projects {
  min-height: 100vh;

  &__inner {
    max-width: $screen-md;
    margin-left: auto;
    margin-right: auto;
  }

  &__item {

    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }
}