<section class="projects">
  <div class="projects__inner">
    <div class="projects__item project">
      <img src="https://images.unsplash.com/32/9FybtVFNSEOxogGzIvHJ_IMG_2226.jpg?auto=format&fit=crop&w=2000&q=80" alt="">
      <h3>Name of project</h3>
    </div>
    <div class="projects__item project">
      <img src="https://images.unsplash.com/32/9FybtVFNSEOxogGzIvHJ_IMG_2226.jpg?auto=format&fit=crop&w=2000&q=80" alt="">
      <h3>Name of project</h3>
    </div>
  </div>
</section>