a,
area,
button,
[role='button'],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

[role='button'] {
  cursor: pointer;
}

html {
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
          font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  font-family: $font-family;
  color: $text-color;
  font-size: $base-font-size + %;

  // @media (min-width: $screen-lg) {
  //   font-size: $base-font-size--desktop + %;
  // }
}

img {
  box-sizing: content-box;
  max-width: 100%;
  height: auto;
  border: 0;
}

p {
  max-width: 35em;
}

h1, h2, h3, h4 {
  font-weight: 700;
  font-style: normal;
  font-family: $font-family--heading;
}

// h1 {
//   font-size: $font-size--h1;
// }

// h2 {
//   font-size: $font-size--h2;
// }

// h3 {
//   font-size: $font-size--h3;
// }

// h4 {
//   font-size: $font-size--h4;
// }

// h5 {
//   font-size: $font-size--h5;
// }

// h6 {
//   font-size: $font-size--h6;
// }

small {
  font-size: $font-size--small;
}

b,
strong {
  font-weight: 700;
}

a {
  text-decoration: none;
  background-color: transparent;
  transition: all ease-in-out 0.25s;
}

button {
  background-color: inherit;
  border: none;
}