// Width

$screen-xs:                   480px;
$screen-sm:                   768px;
$screen-md:                   992px;
$screen-lg:                   1200px;
$screen-xl:                   1440px;
$screen-xxl:                  1920px;


// Colors

$black:                       hsl(0, 0%, 0%);
$gray-darkest:                hsl(0, 0%, 15%);
$gray-darker:                 hsl(0, 0%, 20%);
$gray-darken:                 hsl(0, 0%, 30%);
$gray-dark:                   hsl(0, 0%, 40%);
$gray:                        hsl(0, 0%, 50%);
$gray-light:                  hsl(0, 0%, 60%);
$gray-lighten:                hsl(0, 0%, 70%);
$gray-lighter:                hsl(0, 0%, 85%);
$gray-lightest:               hsl(0, 0%, 97%);
$white:                       hsl(0, 0%, 100%);

$text-color:                  #333;
$text-color--light:           #e2e2e2;

$bg-color--light:             #f2f2f2;
$bg-color--dark:              #353535;
$bg-color--darkest:           #272727;

$blue:                        #34a0d8;


// Typography

$font-family:                 'Raleway', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Arial', sans-serif;
$font-family--heading:        'Delvard Gradient Left';
// $font-family--sans:           'Fira Sans', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
// $font-family--monospace:      'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', monospace;